header {
  background-image: url(https://cdn.pixabay.com/photo/2021/01/21/16/49/books-5937823__480.jpg);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  color: #04044e; }

h1 h2 {
  display: flex;
  align-items: center; }

#espacios {
  display: grid;
  grid-template-columns: 1fr 1fr; }

#seccionPrestamos {
  background-image: url(https://img.freepik.com/foto-gratis/textura-papel-fondo-papel-arrugado-blanco_5207-1452.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #04044e;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder; }

.seleccion {
  padding: 20px; }

div {
  padding: 5px;
  margin: 5px; }

#carga_de_libros {
  background-image: url(https://i.pinimg.com/originals/8a/54/6b/8a546bfecc01c605c6f1803b499ad98b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #04044e;
  font-weight: bolder; }

.biblioteca {
  display: flex;
  justify-content: center; }

.prestamo {
  display: flex;
  justify-content: center; }
